/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 */

*,
::before,
::after {
	border-width: 0;
	border-style: solid;
}

.wp-admin {
	@apply
	vuejsdevchallenge-bg-white
	;
}
