/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 */

*,
::before,
::after {
	border-width: 0;
	border-style: solid;
}

.wp-admin {
	@apply
	bg-white
	;
}

a {
	@apply no-underline text-blue-600 hover:text-blue-800 visited:text-purple-600
 }

 .tab-item {
    @apply
    no-underline
    hover:border-orange-600
    ;
 }