// Colors.
$color-alabaster: #F8F8F8;
$color-black: #000000;
$color-blue-gem: #3C15B4;
$color-cerulean: #00A0D2;
$color-chateau-green: #3CAF66;
$color-concrete: #F2F2F2;
$color-cornflower-blue: #697BF8;
$color-cyprus: #003742;
$color-dodger-blue: #4C8FFA;
$color-emperor: #555555;
$color-equator: #e97407;
$color-gallery: #EFEFEF;
$color-iron: #DEDFE0;
$color-mercury: #e3e3e3;

$color-pink-lightest: #FB83B3;
$color-pink-light: #EC2C79;
$color-pink: #E6186B;
$color-pink-dark: #A80A4A;
$color-pink-darkest: #640129;

$color-purple-lightest: #A084F7;
$color-purple-light: #5B2EE4;
$color-purple: #4a1ade;
$color-purple-dark: #28088D;
$color-purple-darkest: #1A0361;

$color-rob-roy: #EBC876;
$color-rolling-stone: #767779;
$color-seashell: #F1F1F1;
$color-shuttle-gray: #555D66;
$color-silver: #CCCCCC;
$color-trout: #4F575F;
$color-tundora: #444444;
$color-turquoise: #27CCC0;
$color-white-ice: #EEFDF4;
$color-white: #FFFFFF;
$color-wild-sand: #f5f5f5;
