

.wp-admin .vuejsdevchallenge-input {
	@apply
	vuejsdevchallenge-border-gray-300
	vuejsdevchallenge-leading-5
	vuejsdevchallenge-px-3.5
	vuejsdevchallenge-py-4
	vuejsdevchallenge-rounded-lg
	vuejsdevchallenge-text-sm
	vuejsdevchallenge-w-full
	vuejsdevchallenge-max-h-[65px]
	focus:vuejsdevchallenge-border-purple
	focus-visible:vuejsdevchallenge-border-purple
	placeholder:vuejsdevchallenge-text-sm
	placeholder:vuejsdevchallenge-text-tundora
	;
}

