

.wp-admin .input {
	@apply
	border-gray-300
	leading-5
	px-3.5
	py-4
	rounded-lg
	text-sm
	w-full
	max-h-[65px]
	focus:border-purple
	focus-visible:border-purple
	placeholder:text-sm
	placeholder:text-tundora
	;
}

